* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  color: black;
}

body.dark {
  background-color: black;
  color: whitesmoke;
}



/* Por defecto la lista está en flex (ESTAMOS MAQUEANDO MOBILE FIRST)*/
nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  list-style: none;
  position: absolute;
  right: 500px;
  top: 100px;
  width: 180px;
  height: 220px;
  background-color: whitesmoke;
  border-radius: 10px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  
}

/* Ocultamos el input para que no se vea nunca, ya que se va a lanzar mediante el label */
#sandwich {
  display: none;
  cursor: pointer;
}

/*Cuando el input no esté checked va a dejar desde el inicio el ul invisible */
#sandwich:not(:checked) + ul {
  display: none;
  cursor: pointer;
  background-color: transparent;
  
}

/*Ahora maquetamos la versión desktop*/
@media (min-width: 700px) {
  label {
    display: none;
    cursor: pointer;
    
  }

  #sandwich:not(:checked) + ul,
  nav ul {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 20px;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
  }
}


footer {
  text-align: center;
}



li {
  cursor: pointer;
}
