img{
  width: 100%;
  height: 600px;
  min-width: 350px;
  object-fit: cover;
  }  
  
h2 {
  margin: 10px;
  text-align: center;
}

#tipos {
  display: flex;
  margin-top: -5px;
  margin-left: 0px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: center;
}

#tipos > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-align: center;
  align-items: center;  
}


#prueba1 {
  margin-right: 40px;
 transition: transform 0.5s;
}
#prueba1:hover {
  transform: scale(1.06);
}

.description {
  margin-top: -120px;
  text-align: center;
align-items: center;
color: black; 
}
#cartas {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  align-content: center;
}

#cartas > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-align: center;
  align-items: center;  
}


.look {
  width: 180px;
  height: 0 auto;
  margin-right: 100px;
  padding: 0 auto;
  transition: transform 0.5s;
}

#trends {
  display: flex;
  margin-top: -5px;
  margin-left: 0px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: center;
}


#trends > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-align: center;
  align-items: center;
}

.container {
  width: 180px;
  height: 0 auto;
  margin-right: 100px;
  padding: 0 auto;
  transition: transform 0.5s;
}

.descuento {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  margin-right: 50px;
  padding: 150px;
  border-radius: 10px;
  border: 3px solid black;
  gap: 10px;
  align-items: center;
  text-align: center;
  align-content: center;
}


.descuento > p {
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 25px;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
}

#formulario {display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: auto;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.formulario > div {
  width: fit-content;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.descuento input {
  width: 500px;
  height: 50px;
text-align: center;
align-items: center;
}

@media (max-width: 700px) {
.descuento input, p, h4 {width: fit-content;
}
}


#highlight {
  width: 100%;
  height: 1600px;
}



@media (max-width: 700px) {
  #tipos, #cartas, #trends {
   flex-direction: column;
   align-items: center;
  }
  #tipos {
    margin: 0px;
  }
}

.descuento > h4 {
  font-size: 60px;
  color: black;
  text-align: center;
  align-items: center;
}

#portada {
  width: 100%;
  height: 1600px;
}