#pants {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  padding: 0 auto;
}

#pants > ul {
display: flex;
flex-wrap: wrap;
margin-left: 60px;
gap: 20px;
text-decoration: none;
list-style: none;
text-align: center;
align-items: center;
}

  #pants img {
    width: 180px;
    height: 0 auto;
    margin-right: 20px;
    padding: 0 auto;
    transition: transform 0.5s;
  }

  #pants > h3 {
    margin: 10px;
    font-size: 20px;
  }