#abrigos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    padding: 0 auto;
  }

#abrigos > ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  gap: 10px;
  text-decoration: none;
  list-style: none;
  text-align: center;
  align-items: center;
}



@media (max-width: 700px) {
  ul {
   flex-direction: column;
   align-items: center;
  }
  li {
    align-items: center;
  }
}


#abrigos > a {
  text-decoration: none;
}

#abrigos > p {
    text-align: center;
    align-items: center;
  }

  #abrigos  img {
    width: 200px;
    height: 0 auto;
    margin-right: 20px;
    padding: 0 auto;
    transition: transform 0.5s;
    align-items: center;
  }

  #abrigos > h3 {
    font-size: 20px;
    color: black;
  }